@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Comfortaa', sans-serif;
}

.container {
  background-color: rgba(157, 96, 53, 0.72);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 2vw;
  margin-top: 10vh;
  height: auto;
  min-height: 90vh;
}

.navbar {
  background-color: rgb(187, 160, 144);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 10vh;
  box-sizing: border-box;
}

.logo {
  min-height:20vh;
  max-height: 10vh;
}

.searchBar {
  display: flex;
  align-items: center;
  width: 40vw;
  min-width: 200px;
  height: 4vh;
  background: white;
  border-radius: 2vh;
  padding: 0.2vw;
  border: outset 0.4vh;
  margin: 1vh;
}

.searchBar input {
  width: 80%;
  border: none;
  outline: none;
  font-size: 1em;
  border-radius: 2vh;
  padding: 1vh;
}

.searchBar button {
  width: 20%;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1em;
  color: #A87453;
}

.navIcons {
  display: flex;
  gap: 0.5vw;
  font-size: 3vh;
  color: #A87453;
  padding: 1vh;
}

.navIconHidden {
  display: none;
}

.navIconVisible {
  display: flex;
}

.menuIcon {
  cursor: pointer;
  display: flex;
  font-size: 4vh;
  color: #A87453;
}

.menuMobile {
  position: absolute;
  top: 10vh;
  right: 2vw;
  background-color: #fff;
  border: 0.2vh solid #A87453;
  border-radius: 1vh;
  padding: 1vh;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  z-index: 200;
  width: 30vw;
  box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.2);
  align-items: flex-start;
}

.menuMobile a {
  color: #A87453;
  text-decoration: none;
  font-weight: bold;
  font-size: 80%;
}

.menuMobile a:hover {
  color: #5c3b28;
}

.profileCard {
  background-color: rgba(254, 241, 203, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  margin-top: 5%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profileImage {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 auto 20px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}

.profileImage:hover {
  opacity: 0.8;
}

.perfilImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.description {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
  resize: vertical;
}

.infoGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 20px 0;
}

.infoInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Responsivo */
@media (max-width: 600px) {
  .navIcons > :not(:last-child) {
    display: none;
  }

  .searchBar {
    width: 90vw;
    margin: 2vh auto;
  }

  .menuMobile {
    width: 60vw;
  }

  .menuMobile a {
    font-size: 60%;
    padding: 2%;
  }

  .infoGrid {
    grid-template-columns: 1fr;
  }

  .profileCard {
    margin-top: 18%;
  }
}
