

.container {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 2%;
  background-color: var(--cor-fundo-suporte)  ;
 
}

/* Estilo do Chat */
.chatContainer {
  width: 80%;
  max-width: 1200px;
  background-color: var(--cor-chat-suporte);
  border-radius: var(--radius);
  padding: 12px;
  display: flex;
  flex-direction: column;
  height: 70vh;
  overflow: hidden;
  box-shadow: 0 4px 12px var(--cor-sombra-suporte);
  border: 1px solid var(--cor-borda-suporte);
  transition: var(--transition);
}

.chatHeader {
  display: flex;
  align-items: center;
  background: var(--cor-destaque-suporte);
  padding: 12px;
  border-radius: var(--radius);
  color: var(--cor-texto-suporte);
  font-weight: 600;
}

.chatHeader img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 12px;
  border: 2px solid var(--cor-primaria-suporte);
}

.chatMessages {
  flex: 1;
  padding: 12px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  scrollbar-width: thin;
}

.message {
  max-width: 60%;
  padding: 12px;
  border-radius: var(--radius);
  font-size: 0.95em;
  color: var(--cor-texto-suporte);
  border: 1px solid var(--cor-borda-suporte);
  box-shadow: 0 2px 6px var(--cor-sombra-suporte);
  transition: var(--transition);
}

.supportMessage {
  align-self: flex-start;
  background-color: var(--cor-card-suporte);
}

.userMessage {
  align-self: flex-end;
  background-color: var(--cor-user-suporte);
}

.chatInput {
  display: flex;
  background: var(--cor-card-suporte);
  padding: 12px;
  border-radius: 0 0 var(--radius) var(--radius);
  gap: 8px;
}

.chatInput input {
  flex: 1;
  padding: 12px;
  border: 1px solid var(--cor-borda-suporte);
  outline: none;
  border-radius: var(--radius);
  background-color: var(--cor-input-suporte);
  color: var(--cor-texto-suporte);
  transition: var(--transition);
}

.chatInput input:focus {
  border-color: var(--cor-primaria-suporte);
  box-shadow: 0 0 8px var(--cor-primaria-suporte);
}

.chatInput button {
  background: var(--cor-button-suporte);
  border: none;
  padding: 12px 16px;
  color: #fff;
  cursor: pointer;
  border-radius: var(--radius);
  margin-left: 10px;
  font-weight: 600;
  transition: var(--transition);
}

.chatInput button:hover {
  background: var(--cor-button-hover-suporte);
  transform: translateY(-1px) scale(1.03);
}

@media (max-width: 700px) {
  .chatContainer {
    width: 95%;
    height: 80vh;
  }
}
