.demandaCard {
  flex: 0 0 auto;
  width: 320px;
  height: 320px;
  scroll-snap-align: start;
  background-color: var(--cor-card-geral);
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 12px var(--cor-sombra-geral);
  display: flex;
  flex-direction: column;
  transition: transform 0.2s, box-shadow 0.2s;
  border: 1px solid var(--cor-borda-geral);
  margin: 0 auto; /* centraliza */
  text-align: center; /* texto centralizado */
}

.demandaCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px var(--cor-sombra-geral);
}

.demandaCard h3 {
  margin: 0.8rem 0;
  font-size: 1.2rem;
  color: var(--cor-texto-geral);
}

.quantidade {
  margin: 0.8rem 0;
  color: var(--cor-texto-secundario-geral);
  font-size: 1rem;
}

.detalhes {
  margin-top: auto;
  padding: 0.8rem;
  background-color: #e1ac74;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 1rem;
  font-weight: 600;
}

.detalhes:hover {
  background-color: var(--cor-primaria-geral);
}

