@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&display=swap');

body {
  overflow: hidden;
  margin: 0;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.container {
  background-color: rgba(157, 96, 53, 0.72);
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2%;
}

.loginContainer {
  margin-top: 2vh;
  background-color: rgba(254, 241, 203, 0.23);
  padding: 4%;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.loginForm h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.formGroup {
  margin-bottom: 1.2em;
  text-align: left;
}

.formGroup label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
  font-size: 1em;
}

.formGroup input {
  width: 100%;
  padding: 0.8em;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  box-sizing: border-box;
}

.formButtons {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  margin-bottom: 1.5em;
  flex-wrap: nowrap; /* Botões permanecem lado a lado */
}

.formButtons button {
  flex: 1;
  padding: 0.8em 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  font-family: 'Comfortaa', sans-serif;
}

.formButtons button:first-child {
  background-color: #f0f0f0;
}

.formButtons button:last-child {
  background-color: #A87453;
  color: white;
}

.formButtons button:hover {
  opacity: 0.8;
}

.loginButton {
  width: 100%;
  padding: 0.8em;
  border: none;
  border-radius: 5px;
  background-color: #A87453;
  color: white;
  cursor: pointer;
  font-size: 1em;
  font-family: 'Comfortaa', sans-serif;
}

.loginButton:hover {
  opacity: 0.8;
}

.forgotPassword {
  color: #0000FF;
  text-decoration: none;
  font-size: 0.9em;
  display: block;
  margin-top: 1em;
  text-align: left;
  width: 100%;
  padding: 1px;
  margin-bottom: 1em;
}

/* Responsividade adicional para telas muito pequenas */
@media (max-width: 360px) {
  .formButtons {
    flex-direction: column;
  }

  .formButtons button {
    width: 100%;
  }
}
