body {
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
    font-size: var(--tamanho-fonte-base);
    min-height: 100vh;
    color: var(--cor-texto);
    background-color: var(--cor-fundo-inicio);
    transition: background-color 0.3s, color 0.3s;
  }