@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&display=swap');

:root {
  /* Tema Claro (default) */
  --cor-primaria-inicio-s: #A87453;
  --cor-secundaria-inicio-s: #5c3b28;
  --cor-fundo-inicio-s: #e2dad2;
  --cor-texto-inicio-s: #333;
  --cor-texto-inicio-secundario-s: #666;
  --cor-borda-inicio-s: #A46434;

  --cor-sombra-s: rgba(0, 0, 0, 0.1);
  --tamanho-fonte-base-s: clamp(14px, 2vw, 18px);
    
      --cor-fundo:#e2dad2;
 
}

/* Tema Escuro */
@media (prefers-color-scheme: dark) {
  :root {
    /* Cores principais invertidas */
    --cor-primaria-inicio-s: #F8DCA5;
    --cor-secundaria-inicio-s: #F8DCA5;
    /* Escala de cinza invertida */
    --cor-fundo-inicio-s: #313030;
    --cor-texto-inicio-s: #f0f0f0;
    --cor-texto-inicio-secundario-s: #b3b3b3;
    /* Elementos de UI */
    --cor-borda-inicio-s: #A46434;
    --cor-card-s: #1e1e1e;
    --cor-sombra-s: rgba(0, 0, 0, 0.5);
   
    /* Ajustes para melhor contraste */
    --cor-destaque-s: #F8DCA5;
    --cor-fundo: #313030;
  }
}



body {
  margin: 0;
  font-family: 'Comfortaa', sans-serif;
  background-color:var(--cor-fundo);
  transition: var(--transition);
  overflow-x: hidden;
}