@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&display=swap');

body {
  background-color: rgba(157, 96, 53, 0.7);
  font-family: 'Comfortaa', sans-serif;
}

h1,h2,h3, p{
  font-family: 'Comfortaa', sans-serif;

}