@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&display=swap');

:root {
  /* Tema Claro (default) - variáveis específicas para cardsofertas */
  --cor-primaria-card: #A87453;
  --cor-secundaria-card: #5c3b28;
  --cor-fundo-card: #e2dad2;
  --cor-texto-card: #333;
  --cor-texto-card-secundario: #666;
  --cor-borda-card: #A46434;
  --cor-accent-card: #c70000; /* cor de destaque se necessário */
  --cor-sombra-card: rgba(0, 0, 0, 0.1);
}

/* Tema Escuro */
@media (prefers-color-scheme: dark) {
  :root {
    --cor-primaria-card: #F8DCA5;
    --cor-secundaria-card: #F8DCA5;
    --cor-fundo-card: #313030;
    --cor-texto-card: #f0f0f0;
    --cor-texto-card-secundario: #b3b3b3;
    --cor-borda-card: #A46434;
    --cor-accent-card: #1e1e1e;
    --cor-sombra-card: rgba(0, 0, 0, 0.5);
    --cor-navbar: #311e04;
    --cor-destaque: #F8DCA5;
  }
}


.ofertaCard {
  flex: 0 0 auto;
  width: 320px;
  height: 320px;
  scroll-snap-align: start;
  background-color: var(--cor-fundo-card);
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 12px var(--cor-sombra-card);
  display: flex;
  flex-direction: column;
  transition: transform 0.2s, box-shadow 0.2s;
  border: 2px solid var(--cor-primaria-card);
  margin: 0 5px;
}

.ofertaCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px var(--cor-sombra-card);
}

.ofertaImageContainer {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  margin: 1rem 0;
}

.ofertaCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.ofertaCard:hover img {
  transform: scale(1.05);
}

.ofertaEmpresa {
  font-weight: 600;
  color: var(--cor-secundaria-card);
  margin: 0;
  font-size: 1.1rem;
}

.ofertaCard h3 {
  margin: 0.8rem 0;
  font-size: 1.2rem;
  color: var(--cor-texto-card);
}

.ofertaQuantidade {
  margin: 0.8rem 0;
  color: var(--cor-texto-card-secundario);
  font-size: 1rem;
}

.ofertaDetalhes {
  margin-top: auto;
  padding: 0.8rem;
  background-color: var(--cor-primaria-card);
  color: rgb(255, 255, 255);
  border: var(--cor-borda-card);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
  font-size: 1rem;
  font-weight: 600;
}

.ofertaDetalhes:hover {
 transform: translateY(-4%);
}

