@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&display=swap');

:root {
  /* Tema Claro (default) */
  --cor-primaria-inicio: #A87453;
  --cor-secundaria-inicio: #5c3b28;
  --cor-fundo-inicio: #e2dad2;
  --cor-texto-inicio: #333;
  --cor-texto-inicio-secundario: #ffffff;
  --cor-borda-inicio: #A46434;
  --cor-texto-h3:black;
  --cor-sombra: rgba(0, 0, 0, 0.1);
  --tamanho-fonte-base: clamp(14px, 2vw, 18px);

}

/* Tema Escuro */
@media (prefers-color-scheme: dark) {
  :root {
    /* Cores principais invertidas */
    --cor-primaria-inicio: #F8DCA5;
    --cor-secundaria-inicio: #F8DCA5;
    /* Escala de cinza invertida */
    --cor-fundo-inicio: #313030;
    --cor-texto-inicio: #f0f0f0;
    --cor-texto-inicio-secundario: #1e1e1e;
    /* Elementos de UI */
    --cor-borda-inicio:#a46434;
    --cor-card: #1e1e1e;
    --cor-sombra: rgba(0, 0, 0, 0.5);
    --cor-navbar: #311e04;
    --cor-texto-h3:white;
    --cor-texto-p:#b3b3b3;
    /* Ajustes para melhor contraste */
    --cor-destaque: #F8DCA5;
  }
}


.demandaCard {
  flex: 0 0 auto;
  width: 320px;
  height: 320px;
  scroll-snap-align: start;
  background-color: var(--cor-texto-inicio-secundario);
  border-radius: 12px;
  color:#333;
  padding: 1.5rem;
  box-shadow: 0 4px 12px var(--cor-sombra-geral);
  display: flex;
  flex-direction: column;
  transition: transform 0.2s, box-shadow 0.2s;
  border: 2px solid var(--cor-borda-inicio);
  margin: 0 5px;
}

.demandaCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px var(--cor-sombra-geral);
}

.imageContainer {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  margin: 1rem 0;
}

.demandaCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.demandaCard:hover img {
  transform: scale(1.05);
}

.empresa {
  font-weight: 600;
  color: var(--cor-primaria-inicio);
  margin: 0;
  font-size: 1.1rem;
}

.demandaCard h3 {
  margin: 0.8rem 0;
  font-size: 1.2rem;
  color: var(--cor-texto-h3);
}

.quantidade {
  margin: 0.8rem 0;
  color: var(--cor-texto-p);
  font-size: 1rem;
}

.detalhes {
  margin-top: auto;
  padding: 0.8rem;
  background-color: #a87453;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 1rem;
  font-weight: 600;
}

.detalhes:hover {
 transform: translateY(-10%);
 background-color: var(--cor-primaria-inicio) ;

}

