@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&display=swap');

:root {
  /* Tema Claro (default) - variáveis específicas para cardsdemands */
  --cor-primaria-carddemanda: #A87453;
  --cor-secundaria-carddemanda: #5c3b28;
  --cor-fundo-carddemanda: #fcfaf8;
  --cor-texto-carddemanda: #333;
  --cor-texto-carddemanda-secundario: #666;
  --cor-borda-carddemanda: #A46434;
  --cor-accent-carddemanda: #e7e2e2;
  --cor-sombra-carddemanda: rgba(255, 250, 250, 0.1);
  --cor-button-carddemanda: #a87453;
  --cor-button-hover-carddemanda: #e1ac74;
}

/* Tema Escuro */
@media (prefers-color-scheme: dark) {
  :root {
    --cor-primaria-carddemanda: #F8DCA5;
    --cor-secundaria-carddemanda: #F8DCA5;
    --cor-fundo-carddemanda: #1e1e1e;
    --cor-texto-carddemanda: #f0f0f0;
    --cor-texto-carddemanda-secundario: #b3b3b3;
    --cor-borda-carddemanda: #A46434;
    --cor-accent-carddemanda: #1e1e1e;
    --cor-sombra-carddemanda: rgba(0, 0, 0, 0.5);
    --cor-navbar-carddemanda: #311e04;
    --cor-destaque-carddemanda: #F8DCA5;
    --cor-button-carddemanda: #e1ac74;
    --cor-button-hover-carddemanda: #5c3b28;
  }
}

.demandaCard {
  flex: 0 0 auto;
  width: 320px;
  height: 320px;
  scroll-snap-align: start;
  background-color: var(--cor-fundo-carddemanda);
  border-radius: 12px;
  color:#333;
  padding: 1.5rem;
  box-shadow: 0 4px 12px var(--cor-sombra-carddemanda);
  display: flex;
  flex-direction: column;
  transition: transform 0.2s, box-shadow 0.2s;
  border: 2px solid var(--cor-borda-carddemanda);
  margin: 0 5px;
}

.demandaCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px var(--cor-sombra-carddemanda);
}

.imageContainer {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  margin: 1rem 0;
}

.demandaCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.demandaCard:hover img {
  transform: scale(1.05);
}

.empresa {
  font-weight: 600;
  color: var(--cor-secundaria-carddemanda);
  margin: 0;
  font-size: 1.1rem;
}

.demandaCard h3 {
  margin: 0.8rem 0;
  font-size: 1.2rem;
  color: var(--cor-texto-carddemanda);
}

.quantidade {
  margin: 0.8rem 0;
  color: var(--cor-texto-carddemanda-secundario);
  font-size: 1rem;
}

.detalhes {
  margin-top: auto;
  padding: 0.8rem;
  background-color: var(--cor-button-carddemanda);
  color: rgb(255, 255, 255);
  border: var(--cor-borda-carddemanda);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
  font-size: 1rem;
  font-weight: 600;
}

.detalhes:hover {
  background-color: var(--cor-button-hover-carddemanda);
  transform: translateY(-4%);
}