body {
  margin: 0;
  font-family: 'Comfortaa', sans-serif;
  font-size: var(--tamanho-fonte-base);
  min-height: 100vh;
}

.container {
  background-color: var(--cor-fundo);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--padding-lateral);
  margin-top: var(--altura-navbar);
  min-height: calc(100vh - var(--altura-navbar));
}


/* Componentes de conteúdo */
.destaquescontainer, .produtoscontainer {
  width: 100%;
  padding: 1rem 0;
  margin-left: 10vw;
}

.produtosGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  gap: 1.5rem;
  width: 100%;
  padding: 1rem;
}

.produtoItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.produtoImg {
  width: min(150px, 20vw);
  height: min(150px, 20vw);
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
}
